### Данные
    Hotel – тип отеля (City Hotel или Resort Hotel)  
    Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
    Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
    Arrival full date – полная дата прибытия
    Arrival date year – год прибытия  
    Arrival date month – месяц прибытия  
    Arrival date week number – номер недели прибытия
    Arrival date day of month – день прибытия
    Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
    Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
    Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
    Adults – число взрослых
    Children – число детей
    Babies – число младенцев 
    Meal – выбранный тип питания
    Country – страна происхождения клиента
    Reserved room type – тип зарезервированного номера
    Assigned room type – тип полученного номера (может отличаться от забронированного)
    Customer type – тип бронирования
    Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
    Reservation status date – дата обновления статуса

Импортируйте библиотеку pandas как pd. Прочитайте датасет bookings.csv, находящийся по ссылке, с разделителем ;  и сохраните в переменную bookings. Затем запишите первые 7 строк в переменную bookings_head.

In [4]:
import pandas as pd

In [5]:
bookings = pd.read_csv("https://stepik.org/media/attachments/lesson/360344/bookings.csv", sep=";")

In [8]:
bookings.shape[1]

21

In [151]:
bookings_head = bookings.head(7)

In [152]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

К какому типу относится большинство переменных?

In [12]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию: приведите названия столбцов к нижнему регистру и замените пробелы на знак нижнего подчёркивания. Например: Is Canceled -> is_canceled

In [13]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [10]:
# Функция для автопереименования всех колонок по шаблону в задании

def replace_space_with_underscore(name):
    return name.lower().replace(' ', '_')

In [12]:
# Передаем функцию в метод rename
# Переопределяем bookings с новым названием колонок

bookings = bookings.rename(columns=replace_space_with_underscore)

Перейдём к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? 
Бронирование считается успешным, если в дальнейшем оно не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [15]:
bookings.columns # посмотреть все колонки, когда не помещаются в строке

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [23]:
# Отбираем: все не отмененные бронирования, все страны и кол-во по каждой

bookings.query('is_canceled == 0') \
        .country \
        .value_counts() \
        .head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [24]:
# Группируем по отелям и считаем сред. кол-во ночей, округляем до 2 знаков

bookings.groupby('hotel') \
        .agg({'stays_total_nights': 'mean'}) \
        .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [25]:
# У нас есть зарезервированные и фактически полученные номера, посмотрим
# Обращаясь к более чем одному элементу в pd - передаем их как список
bookings[['reserved_room_type', 'assigned_room_type']]

       reserved_room_type assigned_room_type
0                       C                  C
1                       C                  C
2                       A                  C
3                       A                  A
4                       A                  A
...                   ...                ...
119385                  A                  A
119386                  E                  E
119387                  D                  D
119388                  A                  A
119389                  A                  A

[119390 rows x 2 columns]

In [28]:
# Находим все строки, где эти значения различаются и выводим их кол-во

bookings.query('reserved_room_type != assigned_room_type').shape[0]

14917

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017 году?

In [32]:
# Выбираем все за 2016, колонку месяца и считаем по нему кол-во и макс.

bookings.query('arrival_date_year == 2016') \
        .arrival_date_month \
        .value_counts() \
        .idxmax()

'October'

In [94]:
# Выбираем все за 2017, колонку месяца и считаем по нему кол-во и макс.

bookings.query('arrival_date_year == 2017') \
        .arrival_date_month \
        .value_counts() \
        .idxmax()

'May'

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015, 2016 и 2017 годах.

In [95]:
# Выбираем все отели City Hotel, где отменено бронирование и группируем
# по годам, берем колонку месяц и находим макс. значение через describe
(
    bookings
        .query('hotel == "City Hotel" and is_canceled == 1')
        .groupby('arrival_date_year')
        .arrival_date_month
        .describe()['top']
)

arrival_date_year
2015    September
2016      October
2017          May
Name: top, dtype: object

Посмотрите на числовые характеристики трёх переменных: adults, children и babies.

Какая из них имеет наибольшее среднее значение?

In [67]:
# Обращаемся сразу к 3 колонкам, находим среднее и выбираем макс. из трех

bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе. 
Resort hotel – отель курортный.
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [70]:
# Создаем total_kids складывая детей и грудничков
# Через . обращаемся только к существующим колонкам, новые только [' ']

bookings['total_kids'] = bookings.children + bookings.babies

In [77]:
# Группируем по отелю и считаем среднее число детей в каждой группе, округляем

bookings.groupby('hotel') \
        .agg({'total_kids': 'mean'}) \
        .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший %, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [80]:
# Создаем колонку has_kids со знач. True, если хотя бы один ребенок

bookings['has_kids'] = bookings.total_kids > 0.0

In [90]:
# Находим долю бездетных от всех отказавшихся от бронирования, переводим в % и округляем
round (
    bookings.query('is_canceled == 1 and has_kids == False').shape[0] /
    bookings.query('has_kids == False').shape[0] 
    * 100, 2)

37.22

In [93]:
# Находим клиентов с детьми от всех отказавшихся от бронирования, переводим в % и округляем
round (
    bookings.query('is_canceled == 1 and has_kids == True').shape[0] / 
    bookings.query('has_kids == True').shape[0]
    * 100, 2)

34.92